<ion-view view-title="Detail">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="post.title">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Body" ng-model="post.body">
      </label>
      <button class="button button-full button-balanced" ng-click="update()">
        Update!
      </button>
      <button class="button button-full button-assertive" ng-click="delete()">
        Delete!
      </button>
    </div>
  </ion-content>
</ion-view>
