
<ion-view >
  <ion-nav-title>
    <div class="bar bar-header">
      <div class="h1 title">Posts</div>
      <button class="button button-clear button-positive" ng-click="goToNew()">New</button>
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in posts" ng-click="goToDetail(post.id)">
        <h3><b>{{ post.title }}</b></h3>
        <span>{{post.body}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
