<ion-view view-title="New">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="post.title">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Body" ng-model="post.body">
      </label>
      <button class="button button-full button-positive" ng-click="save()">
        Post!
      </button>
    </div>
  </ion-content>
</ion-view>
